*,
*::before,
*::after {
  box-sizing: border-box;
}

.container--demo {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: var(--border-thickness) solid var(--color-white);
}