.a11y-hidden
  position absolute
  clip rect(0, 0, 0, 0)
  clip-path polygon(0 0, 0 0, 0 0)
  overflow hidden
  width 1px
  height 1px
  margin -1px
  white-space nowrap

:focus
  transition none
  outline 5px solid #ffff2b
  outline-offset 5px