// 기본 값 설정
$rem-unit ?= 16px 

:root
  font-size $rem-unit

body
  fontSize(16px)
  font-family sans-serif
  line-height 1.5

h1,h2,h3,h4,h5,h6
  margin-top 0
  font-weight normal

.h1
  fontSize(32px)
.h2
  fontSize(28px)
.h3
  fontSize(24px)
