.action__wrapper {
  position: relative;
}

.action--loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: opacity 0.6s ease-out;
}

.video--loaded .action--loading {
  opacity: 0;
  z-index: -1;
}
.video--loaded .action--play {
  opacity: 1;
}

.action--play {
  user-select: none;
  position: relative;
  z-index: 200;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 33px;
  padding: 12px 22px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 1;
  border: 3px solid var(--color-white);
  border-radius: 50px;
  color: #ffffff;
  background: transparent;
  transition: all 0.35s ease-out;
}
.action--play:hover {
  opacity: 1;
  box-shadow: 
    0 6px 10px var(--color-shining),
    0 -3px 10px var(--color-shining),
    1px 0 10px var(--color-shining),
    -1px 0 10px var(--color-shining);
}

.action--close {
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 100px;
  transition: all 0.35s ease-out;
}
.action--close:hover {
  opacity: 1;
}
.action--close:focus,
.action--play:focus {
  box-shadow: 0 0 0 var(--thickness-focused) var(--color-focused);
}

.action--close img {
  width: 40px;
  height: 40px;
}


@media screen and (min-height: 800px /* 700px */) {
  .action--play {
    margin-bottom: 73px;
  }
}