/* Cross Direction Carousel */
.CDC {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

/* carousel */
.CDC [class*="CDC__carousel--"] {
	overflow: hidden;
	flex: 1 1 50%;
	position: relative;
	/* JavaScript를 사용해 이미지 가로 대비 세로 높이를 동적으로 계산해야 함 */
	height: 614.5px;
}

/* slider */
.CDC__slider {
	display: flex;
	display: flex;
	flex-flow: column;
	position: absolute;
}
.CDC__carousel--one .CDC__slider {
	top: 0;
	/* JavaScript를 사용해 계산: 100% / 섹션의 개수(4) * -1 = -25% */
	/* transform: translateY(-25%); */
}
.CDC__carousel--two .CDC__slider {
	display: flex;
	flex-flow: column-reverse;
	bottom: 0;
	/* JavaScript를 사용해 계산: 100% / 섹션의 개수(4) = 25% */
	/* transform: translateY(25%); */
}

/* img */
.CDC img {
	width: 100%;
	height: auto;
}

/* controls */
.CDC__controls button[type="button"] {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	border: 0;
	padding: 0;
	background: none;
	transform: translateY(-50%);
	outline: none;
	transition: none;
}
.CDC__controls button[type="button"] svg {
	width: 100%;
	height: 100%;
}
.CDC__controls button[type="button"]:hover svg {
	transform: scale(1.1);
}
.CDC__controls button[type="button"]:focus {
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
}
.CDC__controls--prev {
	left: -25px;
}
.CDC__controls--next {
	right: -25px;
}

/** ----------------------------
 * SVG Buttons 스타일
 */
.has-red [id*="button-"] path {
	fill: #962d3b;
}
.has-black [id*="button-"] path {
	fill: #272528;
}
.has-green [id*="button-"] path {
	fill: #143f34;
}
.has-blue [id*="button-"] path {
	fill: #5ca1af;
}
