// Stylus 문법
.feml__headerbar
  padding 0.2em 1.8em
  background $color-darkblue url("../assets/favicon.png") no-repeat 2.5px 2.5px
  background-size 20px
  color $color-white

  // Sass 문법
  h1
    margin-bottom: 0
    fontSize(14px)
    font-weight: bold
  
  // Scss, CSS 문법
  a {
    color: $color-white;
    text-decoration: none;
  }