.feml__headerbar
  display flex
  justify-content center
  padding 0.5em 1.8em
  background $color-darkblue
  color $color-white

  h1
    margin-bottom: 0
    fontSize(14px)
    font-weight: bold
  
  a {
    color: $color-white;
    text-decoration: none;
  }