/**
 * demo 스타일링
 */
 .demo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  color: #fff;
  background: var(--color-black);
  transition: all 200ms ease-out;
}
.demo.has-red {
  background: var(--color-red);
}
.demo.has-blue {
  background: var(--color-blue);
}
.demo.has-yellow {
  background: var(--color-yellow);
}

/**
 * demo__header 스타일링
 */
.demo__header [class*="icon-"] {
  position: fixed;
  top: 25px;
}
.demo__header .icon-logo {
  right: 25px;
}
.demo__header .icon-symbol {
  left: 25px;
}

/**
 * demo__navigation 스타일링
 */
.demo__navigation {
  position: fixed;
  bottom: 25px;
  color: #fff;
}
.demo__navigation--item {
  display: inline-flex;
}
.demo__navigation--link {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0.3em;
  color: #e0e0e0;
  text-decoration: none;
}
.demo__navigation--link:hover {
  color: var(--color-black);
}
.demo__navigation--link.has-red:hover {
  color: var(--color-red);
}
.demo__navigation--link.has-blue:hover {
  color: var(--color-blue);
}
.demo__navigation--link.has-yellow:hover {
  color: var(--color-yellow);
}
.demo__navigation--link.is-active {
  color: var(--color-white) !important;
}
.demo__navigation--link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  border-top: 2px solid currentColor;
  transition-property: left, right;
}
.demo__navigation--link:hover::before,
.demo__navigation--link.is-active::before {
  left: 3%;
  right: 3%;
}
/* 커스텀 커서 모드 */
.mode-custom-cursor .demo__navigation--link {
  cursor: none;
}

/**
 * demo__main 스타일링
 */
.demo__main {
  width: inherit;
  flex: 1 0 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo__main--title {
  font-size: 90px;
  line-height: 1;
}

/**
 * demo__footer 스타일링
 */
.demo__footer a,
.demo__footer [class*="icon-"] {
  position: fixed;
  bottom: 25px;
}
.demo__footer a {
  width: 32px;
  height: 32px;
  left: 25px;
}
.demo__footer .icon-github {
  left: 25px;
}
.demo__footer .icon-keyboard {
  right: 25px;
}

/**
 * 페이지 트랜지션  
 */
.page-transition {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.page-transition,
.render .page-transition {
  opacity: 0;
  visibility: hidden;
}