::selection {
  background: var(--color-dark-blue);
  color: var(--color-white);
}

img::selection {
  background: transparent;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Spoqa Han Sans";
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../../assets/background/sky+balloon.jpg") no-repeat center;
  background-size: cover;
  filter: blur(8px);
}

body *, 
body *::before, 
body *::after {
  transition: all 0.4s ease-in-out;
}